@import 'style/core/additives';

.NewsCard {
  display: flex;
  flex-flow: column;

  width: 270px;
  height: auto;
  margin-bottom: 18px;
  margin-left: 10px;

  border: 1px solid #f1f2fc;
  border-radius: 10px;
  background: $white;
  box-shadow: 0 20px 30px -20px rgba(#4c5eff, .1);

  $root: &;

  --width: 100%;

  @include media-breakpoint-down(sm) {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    margin-left: 0;
  }

  &:nth-child(4n + 1) {
    margin-left: 0;
  }

  &__preview-container {
    width: 100%;
    height: 160px;

    @include media-breakpoint-down(sm) {
      height: auto;
    }
  }

  &__preview {
    width: 100%;
    height: 100%;

    border-radius: 10px 10px 0 0;
  }

  &__body {
    display: flex;
    flex-flow: column;
    flex-grow: 1;

    padding: 10px 15px 15px 15px;
  }

  &__type-container {
    font-size: 10px;
    font-weight: 500;

    display: flex;
    flex-direction: column;

    color: rgba(#3e3e3e, .4);

    @include media-breakpoint-down(sm) {
      flex-direction: row;
      margin-bottom: 10px;
    }
  }

  &__data {
    margin-right: 5px;
  }

  &__title {
    font-size: 12px;
    font-weight: 700;

    margin-bottom: 5px;

    color: $blue-dark-1;
  }

  &__description {
    font-size: 11px;

    margin-bottom: 10px;

    color: rgba(#3e3e3e, .4);
  }

  &__link {
    font-size: 9px;
    font-weight: 500;

    display: flex;
    align-items: center;
    align-self: flex-end;

    width: auto;
    height: 25px;
    margin-top: auto;
    padding-left: 10px;

    cursor: pointer;
    transition: opacity .2s ease-in;

    color: #4c5eff;
    border: 1px solid #ebecff;
    border-radius: 8px;

    &:hover {
      opacity: .7;
    }

    & > * {
      color: #4c5eff;
    }

    .ButtonView__label {
      display: flex;
      align-items: center;
    }
  }

  &__icon-wrapper {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;

    width: 25px;
    height: 25px;
    margin-left: 7px;

    border-radius: 7px;
    background-color: rgba(#fff, .2);
    background-color: #ebecff;
  }

  &__link-icon {
    width: 7px !important;

    transform: translateX(35%);
  }
}
