@import 'style/core/additives';

.CheckboxFieldViewCircle {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  $root: &;

  &__input {
    cursor: pointer;

    @include checkbox-blue;

    &[type='checkbox'] {
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
    }

    &:checked {
      &::before {
        background-color: $primary;
      }
    }
  }

  &__label-text {
    font-size: 12px;

    color: $black-1;
  }
}
