.CheckboxFieldView {

  $root: &;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  &__label-text {
    &_required:after {
      display: inline-block;
      content: '*';
      color: $primary;
      margin: 0 0 0 3px;
    }
  }

  &__input-container {
    position: relative;
    @include icon-container;
    margin-right: $mg-5;

    border: 1px solid $black-5;
    border-radius: 5px;
  }

  &__input {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;

    &:checked {
      #{$root}__icon {
        opacity: 1;
      }
    }

    &[type="radio"] {
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
    }
    &[type="checkbox"] {
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
    }
  }

  &__icon {
    @include default-icon-container;
    opacity: 0;
    path {
      fill: $primary;
    }

    &_checked {
      opacity: 1;
    }
  }

}