@import 'style/core/additives';

.LoaderView {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 15px;

  div {
    position: absolute;

    display: block;

    box-sizing: border-box;
    width: 15px;
    height: 15px;
    margin: 2px;

    animation: lds-ring 1.2s cubic-bezier(.5, 0, .5, 1) infinite;

    border: 2px solid $blue-dark-1;
    border-color: $blue-dark-1 transparent transparent transparent;
    border-radius: 50%;
  }

  div:nth-child(1) {
    animation-delay: -.45s;
  }

  div:nth-child(2) {
    animation-delay: -.3s;
  }

  div:nth-child(3) {
    animation-delay: -.15s;
  }

  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
