.SmsFieldView {
  @include input-container;
  position: relative;
  justify-content: center;
  padding: $pd-input-y $pd-input-x;

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 0;
  }

  &__number-input{
    width: 15px;

    color: $primary;
    font-size: 14px;
    font-weight: 700;
    text-align: center;

    &:not(:last-child){
      margin-right: 15px;
    }

    &_empty{
      font-weight: 500;
      color: rgba($black-1, .3)
    }
  }

}