@import 'style/core/additives';

.NavTabsViewProfitway {
    display: flex;
    justify-content: flex-start;
    margin-bottom: $mg-15;

    &__tab {
      @include margin-in-horizontal-list($mg-5);
      color: $blue-dark-2;
      padding: 6px 8px;
      font-size: 12px;
      font-weight: 500;
      border: 1px solid $blue-dark-2;
      border-radius: 20px;
      transition: opacity .1s ease-in;

      &:hover {
        color: $black-1-opacity-6;
        text-decoration: none;
      }

      &_active {
        color: $white;
        font-size: 12px;
        font-weight: 500;
        border-bottom: unset;
        background: $blue-dark-2;

        &:hover {
          background: $blue-dark-1;
          color: $white;
          opacity: 1;
        }
      }
    }
}