@import 'style/core/additives';

.NavTabsView {

  display: flex;
  justify-content: flex-start;
  margin-bottom: $mg-15;


  &__tab {
    @include margin-in-horizontal-list($mg-30);
    color: $black-1-opacity-6;
    font-size: 16px;
    transition: opacity .1s ease-in;

    @include media-breakpoint-down(sm) {
      font-size: 16px !important;
    }

    & > .ButtonView__label {
      border-bottom: 2px dotted $black-1-opacity-6;
      white-space: pre;
      box-sizing: border-box;
    }

    &_has-badge {
      display: flex;
      @include margin-in-horizontal-list($mg-20);
    }

    &:hover {
      color: $black-1-opacity-6;
      text-decoration: none;
    }

    &_active {
      color: $blue-dark-1;
      font-size: 18px;
      font-weight: 700;
      border-bottom: unset;

      &:hover {
        color: $blue-dark-1;
        opacity: 1;
      }

    }
  }
}