@import 'style/core/additives';

.AuthRegistrationLinks{
  &__route{
    text-decoration: underline;

    @include media-breakpoint-down(sm) {
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
    }
  }
}
