@import 'style/core/additives';

.ModalImagesGallery {

  &_overlay {
    z-index: 100;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;

    background-color: rgba(0,0,0,0.7);

    @include media-breakpoint-down(sm) {
      background-color: #000;
      padding: 0;
    }
  }

  &__body {
    height: 100%;
    width: 100%;
    max-height: 915px;
    max-width: 1900px;
    margin: auto;
  }

  &__content {
    height: 100%;
    position: relative;
    padding-left: 15vw;

    @include media-breakpoint-down(sm) {
      padding-left: 0;
    }
  }

  &__close {
    position: absolute;
    top: 0;
    right: 300px;
    width: 50px;
    height: 50px;

    &:hover::before,
    &:hover::after {
      background-color: #fff;
    }

    &::before,
    &::after
    {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      margin-top: -8px;
      left: 50%;
      width: 1px;
      height: 16px;
      background-color: #888;
      transition: background-color .2s ease-in;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    @include media-breakpoint-down(sm) {
      width: 35px;
      height: 35px;

      left: 10px;
      right: unset;
      background-color: #cacaca;
      top: 10px;
      border-radius: 50px;

      &::before, &::after {
        left: 49%;
        background-color: #000;
      }
    }
  }

  // Fade animation

  &_overlay {
    opacity: 0;
    transition: opacity .3s ease-in-out;
  }

  &_overlay-after {
    opacity: 1;
  }

  &_overlay-before {
    opacity: 0;
  }
}

// Class to hide body scroll, when Modal is opened
.ModalImagesGallery_body-opened {
  overflow: hidden;
}
