@import 'style/core/additives';

.StorySection {
  margin-bottom: $mg-40;

  &__header {
    margin-bottom: $mg-15;
  }

  h6 {
    margin-bottom: $mg-10;
    color: $blue-dark-1-opacity-6;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
  }
}