@import '~react-day-picker/lib/style.css';

.DayPickerInput {
  display: block;
}

.DayPickerInput-Overlay {
  top: 5px;
}
.DayPickerInput-OverlayWrapper {
  z-index: 999;
}

.DateFieldView {
  $root: &;

  @include input_container;

  position: relative;

  &_is-invalid {

  }

  &__input {
    @include input;
    padding-right: 35px;
  }

  &__icon {
    position: absolute;
    top: 56%;
    right: $pd-input-y;
    transform: translateY(-50%);
    pointer-events: none;

    path{
      fill: rgba($black-1, .4);
    }

  }

  &__caption {
    position: relative;
    top: -5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;

    .DropDownFieldView__drop-down-list {
      max-height: 220px;
    }
  }

  &__caption-year {
    width: 115px;
  }

  &__caption-month {
    width: 70px;

    .DropDownFieldView__selected-items {
      min-width: 70px;
    }
  }
}
