@import 'style/core/additives';

.FieldLayoutView {
  margin-bottom: $mg-15;

  &_layout{
    &_m-0{
      margin: 0;
    }
    &_mb-5{
      margin-bottom: $mg-5;
    }
    &_for-scans {
      display: contents;
      height: 100%;

      > div {
        height: 100%;
        display: contents;
      }
    }
  }

  input{
    color: $black-1;
  }

  &__label {
    margin-bottom: $mg-5;

    &_required:after {
      display: inline-block;
      content: '*';
      color: $primary;
      margin: 0 0 0 3px;
    }
  }
  &__invalid-feedback {
    color: $danger;
    margin-top: $mg-5;
    display: block !important;
  }
  &__hint {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: $black-3;
  }
}
