@import 'style/core/additives';

.Accordeon {
  width: 100%;

  margin-bottom: 8px;

  $root: &;

  &__body {
    flex-direction: column;

    padding: 16px 13px;

    border-radius: 10px;
    background: $white;
    box-shadow: 0 20px 100px -20px rgba(75, 93, 255, .15);
  }

  &__header {
    display: flex;
    align-items: center;

    cursor: pointer;
  }

  &__icon-container {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 40px;
    min-height: 40px;
    margin-right: 42px;

    border-radius: 10px;
    box-shadow: 0 3px 10px 3px rgba(111, 207, 151, .3);

    @include media-breakpoint-down(sm) {
      margin-right: 20px;
    }
  }

  &__icon {
    width: 20px !important;
  }

  &__title {
    font-size: 18px;
    font-weight: 400;

    @include media-breakpoint-down(sm) {
      font-size: 16px;
      font-weight: 500;
    }
  }

  &__collapse {
    overflow: hidden;

    max-height: 0;

    transition: all .5s ease-in-out;

    &_open {
      max-height: 270px;
      padding: 20px 20px 5px 80px;

      transition: all .5s ease-in-out;

      @include media-breakpoint-down(sm) {
        padding: 20px 20px 20px;
        max-height: 440px;
      }
    }
  }

  &__description {
    font-size: 14px;
    font-weight: 400;

    ol {
      list-style: decimal;
    }

    ul {
      list-style: disc inside;
    }
  }

  &_orange {
    #{$root}__icon-container {
      box-shadow: 0px 3px 10px 3px rgba(255, 141, 35, 0.3);
    }
    #{$root}__icon_plus {
        filter: invert(82%) sepia(52%) saturate(5553%) hue-rotate(342deg) brightness(101%) contrast(101%);
      }
    #{$root}__icon_minus {
      filter: invert(45%) sepia(52%) saturate(5553%) hue-rotate(342deg) brightness(101%) contrast(101%);
    }
  }
}
