@import 'style/core/additives';

.PwReportGraph {
  &__section-header {
    font-size: 18px;
    font-weight: 700;

    margin-bottom: 15px;

    color: $blue-dark-1;

    span {
      @include media-breakpoint-up(sm) {
        display: none;
      }
    }
  }

  .BalanceRadialGraph {
    background: $white;

    @include media-breakpoint-down(sm) {
      padding: 28px 35px;
    }
  }

  .ProfitRadial {
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  .BalanceProgressView,
  .BalanceProgressBarItem {
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
}