@import 'style/core/additives';

.BalanceRadialGraph {

  $root: &;

  display: flex;
  flex-flow: column;
  align-items: flex-end;

  &_is-card {
    @include card-layout;
    padding: 15px;
  }

  &_centered {
    height: 100%;
    align-items: center;

    #{$root}__radial {
      grid-gap: 20px;
      width: 100%;
    }
  }

  &__body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column-reverse;

      .BalanceProgressView {
        align-items: flex-end;
      }

      & > div:nth-of-type(2) {
        @include media-breakpoint-down(sm) {
          margin-bottom: $mg-30;
        }
      }
    }
  }
}
