@import 'style/core/additives';

.InputFieldView {
  $root: &;

  @include input-container;

  &__input {
    @include input;

    transition: color .2s ease-in;
  }

  &_disabled{
    background-color: $black-6;
    border: 1px solid $black-5;

    #{$root}__input {
      color: $black-1-opacity-6;
    }
  }

  &__addon-before, &__addon-after {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8px;

    color: $black-1-opacity-3;

    .IconView {
      @include default-icon-container(14px);
    }

    transition: border-color .2s ease-in;
  }

  &__addon-before {
    min-width: 26px;
    margin: -1px;
    border-radius: 10px;
    border: 1px solid $black-5;
  }

  &:focus-within {
    #{$root}__addon-before {
      border-color: $primary;
    }
  }

  &_is-invalid {
    #{$root}__addon-before {
      border-color: $danger;
    }
  }

  // Styles for SearchField

  &_search-field {
    height: 30px;

    #{$root}__input:focus {
      color: $primary;
    }
  }

  // Disable number input arrows

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
}
