@import 'style/core/additives';

.DataProgressBar {

  $root: &;

  position: relative;
  display: flex;
  height: 20px;

  border: 1px solid $black-6;
  border-radius: 5px;

  &__body {
    width: 0;
    margin: -1px;
    border-radius: 5px;
  }

  &__percentage {
    position: absolute;
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_is-hw-payment {
    border: unset;
    background-color: rgba(#ff6b1b, .1);

    #{$root}__body {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      margin: 0;
      background: linear-gradient(114.08deg, #FF8D23 3.74%, #FF4D00 69.37%);
    }
  }

}