.DropDownFieldView {
  $root: &;

  cursor: pointer;
  position: relative;

  font-size: 14px;

  &__selected-items {
    @include input-container;
    justify-content: space-between;
    padding: $pd-input-y $pd-input-x;

    &_no-border {
      padding-left: 0;
      border-color: transparent;

      &#{$root}__selected-items_is-invalid {
        border-color: transparent;
      }
    }
  }

  &__placeholder{
    color: rgba($black-1, .3);
  }

  &__drop-down {
    position: absolute;
    z-index: 1000;
    width: 100%;
    top: calc(100% + 3px);
    left: 0;

    background-color: #fff;
    background-clip: padding-box;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
  }

  &__drop-down-list {
    max-height: 273px;
    overflow: auto;
  }

  &__drop-down-item {
    @include  dropdown-item;
  }
}
