@import 'style/core/additives';

.ModalView_body-opened{
  overflow: hidden;
}

.ModalView {
  $root: &;

  z-index: 1000;

  &_overlay {
    z-index: 100;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    overflow: auto;

    padding: 3rem;

    background-color: rgba($blue-5, 0.8);
    opacity: 0;
    transition: opacity 300ms ease-in-out;

    @include media-breakpoint-down(sm) {
      background-color: white;
    }
  }

  &__body{
    outline: none;
    width: 565px;
    min-height: 350px;
    margin: auto;
    background: #fff;
    position: relative;

    @include card-big;

    &_with-title {
      #{$root}__content {
        padding-top: 0;
      }
    }

    &_lg {
      width: 745px;
    }

    @include media-breakpoint-down(sm) {
      padding-top: 90px;
      border-radius: 0;
      box-shadow: none;
    }
  }

  &__header {
    padding: 40px 90px 28px 68px;

    h1 {
      color: $blue-dark-1;
      font-size: 20px;

      @include media-breakpoint-down(sm) {
        font-size: 16px;
      }
    }

    @include media-breakpoint-down(sm) {
      padding: 20px 70px 20px 20px;
    }
  }

  &__close {
    position: absolute;
    top: 30px;
    right: 30px;
    display: block;
    width: 40px;
    height: 40px;
    background-color: $blue-5;
    border-radius: 10px;

    &:hover::before,
    &:hover::after {
      opacity: $opacity-on-hover;
    }

    &::before,
    &::after
    {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      margin-top: -7px;
      left: 50%;
      width: 2px;
      height: 14px;
      background-color: $blue-dark-2;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    @include media-breakpoint-down(sm) {
      top: 20px;
      right: 20px;
    }
  }

  &__content {
    padding: $mg-90 68px;

    @include media-breakpoint-down(sm) {
      padding: 0 $mg-20;
    }
  }

  // fade
  &_overlay {
    opacity: 0;
    transition: opacity .2s ease-in-out;

    @include media-breakpoint-down(sm) {
      padding: 0;
    }
  }

  &_overlay-after {
    opacity: 1;
  }

  &_overlay-before {
    opacity: 0;
  }
}

