@import 'style/core/additives';

.IconView {

  @include default-icon-container;
  svg {
    width: 16px;
  }

  &_size_sm svg {
    width: 12px;
  }

  &_size_lg svg {
    width: 32px;
  }
}

img.IconView {
  width: 16px;

  &_size_sm {
    width: 12px;
  }

  &_size_lg {
    width: 32px;
  }
}