@import 'style/core/additives';


.GridView {
  opacity: 1;
  transition: opacity .2s;

  &__table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
  }

  &__table-header {
    th {
      padding-bottom: 10px;
      padding-left: 10px;

      color: $black-3;
      font-size: 12px;
      font-weight: 400;
    }
  }

  &__table-body {
    tr {
      border: 1px solid $blue-5;

      &:nth-child(2n) {
        background-color: $blue-6;
      }

    }
    td {
      position: relative;
      padding: 10px;

      &:not(:last-child) {
        &::after {
          position: absolute;
          content: '';
          top: 50%;
          right: 0;

          width: 1px;
          height: 20px;
          margin-top: -10px;

          background-color: rgba(#C4C4C4, .2);
        }
      }

      .table-row-data-container {
        display: flex;
        align-items: center;
      }
    }
  }

  &_loading {
    opacity: .4;
  }

  // Inner blocks

  &__grid-column {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
  }
  &__grid-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__grid-inner-row {
    display: flex;

    & > :first-child {
      margin-right: $mg-10;
    }
  }

  //Adaptive styles

  @include media-breakpoint-down(sm) {
    thead, tbody, th, tr {
      display: block;
    }

    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    td {
      position: relative;
      text-align: left !important;

      display: flex;
      align-items: center;
      white-space: pre-wrap;
    }

    td:before {
      padding-right: 1rem;
      width: 50%;
      flex-shrink: 0;
      content: attr(data-label);
    }
  }
}
