@import 'style/core/additives';

.StatisticGraphItem {
  @include margin-in-vertical-list($mg-30);

  &__header {
    @include section-header;
  }


  &__statistics-container {
    padding: 30px 15px 20px 15px;

    @include card-layout;

    &_profitway {
      display: flex;
      flex-direction: column;

      margin-right: 10px;
      padding: 15px;
    }
  }

  &__statistics-value-container {
    & > *:first-child {
      margin-bottom: $mg-15;
    }

    &_profitway {
      width: 440px;
    }
  }

  &__statistics-graph-container {
    max-height: 230px;

    @include flexible-column;
  }

  &__empty-container {
    height: 245px;
  }
}
