@import 'style/core/additives';

.Footer {
  width: 100%;
  height: fit-content;
  margin: 0 !important;

  $root: &;

  @include media-breakpoint-down(sm) {
    height: auto;
  }

  &__container {
    position: relative;

    max-width: 1440px;
    margin: 0 auto;
    padding: 61px 130px 33px;

    @include media-breakpoint-down(sm) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      width: 100%;
      height: auto;
      padding: 22px 25px;
    }
  }

  &__main {
    display: flex;
    justify-content: space-between;
  }

  &__products {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 164px;

    @include media-breakpoint-down(sm) {
      width: 100%;
      height: auto;
      margin-bottom: 40px;
    }
  }

  &__products-title {
    font-size: 18px;
    font-weight: 500;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &__logo-wrapper {
    display: flex;
    align-items: center;
    max-width: 520px;
    min-width: 1px;
    margin-bottom: 30px;

    & > img {
      max-height: 40px;
      border-radius: 10px;
    }
  }

  &__media {
    display: flex;
    grid-gap: 5px;
    margin-top: 10px;
    width: 286px;

    & > :first-child {
      margin-left: 10px;
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
      padding: 0 20px;
      justify-content: center;
      grid-gap: 5px;
    }
  }

  &__navigation {
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &__navigation-column {
    margin-right: 60px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__navigation-title {
    font-size: 16px;
    font-weight: 400;

    margin-bottom: 11px;
  }

  &__navigation-list {
    font-size: 14px;
    font-weight: 300;

    li {
      margin-bottom: 7px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &__link {
    color: #333;

    &:hover {
      color: $blue-1 !important;
    }
  }

  &__agreement {
    font-size: 14px;
    font-weight: 300;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 983px;
    margin: 46px auto 35px;

    @include media-breakpoint-down(sm) {
      display: flex;
      flex-direction: column;

      width: auto;
      margin: 0 0 35px;

      text-align: center;

      &>* {
        font-size: 12px;

        margin-bottom: 5px;
      }
    }
  }

  &_isSecondColor {
    color: $white;

    #{$root}__programs img {
      filter: brightness(0) invert(1);
    }

    #{$root}__media img {
      filter: brightness(0) invert(1);
    }

    #{$root}__link {
      font-size: 14px;

      color: $white;

      @include media-breakpoint-down(sm) {
        font-size: 12px;
      }

      &:hover {
        color: $white !important;
      }
    }
  }

  &_green {
    background: linear-gradient(135deg, #10CB2E 17.17%, #055A30 94.5%);
  }

  &_orange {
    background: linear-gradient(147.36deg, #ff8d23 10.68%, #ff4d00 87.19%);
  }

  &__version-data-container {
    position: absolute;
    bottom: 15px;
    right: 20px;

    text-align: right;
  }
  &__version-data {
    font-size: 8px;
    opacity: .7;
  }
}
