@import 'style/core/additives';

.FAQSection {
  $root: &;

  display: grid;
  grid-template-columns: 4fr 8fr;
  grid-column-gap: 40px;

  @include media-breakpoint-down(sm) {
    display: flex;
    flex-direction: column;
  }

  &__questions {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 268px;

    border-radius: 15px;
    background: linear-gradient(135deg, #10CB2E 17.17%, #055A30 94.5%);

    @include media-breakpoint-down(sm) {
      margin-bottom: 50px;
    }
  }

  &__questions-list {
    width: 100%;
  }

  &__question {
    font-size: 18px;
    font-weight: 400;

    position: relative;

    display: flex;
    align-items: center;

    height: 49px;
    padding-left: 38px;

    cursor: pointer;

    color: $white;

    img {
      transform: translateY(-7%);
    }

    &_active {
      background: rgba(255, 255, 255, .2);
    }
  }

  &__answers {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }

  &_orange {
    #{$root}__questions {
      background: linear-gradient(147.36deg, #FF8D23 10.68%, #FF4D00 87.19%);
    }
  }
}