@import 'style/core/additives';

.LegendItem {
  display: flex;
  align-items: flex-start;
  margin-right: $mg-15;

  &__label {
    display: block;
    color: $black-1-opacity-4;
    font-size: 12px;

    &_with-value {
      font-size: 14px;
      color: $black-1;
    }
  }

  &__value {
    color: $black-2;
    font-size: 12px;
  }

  &__color-block {
    position: relative;
    width: 16px;
    height: 16px;
    margin-right: $mg-5;

    border: 1px solid $black-5;
    border-radius: 6px;

    &::after {
      position: absolute;
      content: '';
      width: 8px;
      height: 8px;
      left: 50%;
      top: 50%;
      margin-left: -4px;
      margin-top: -4px;

      background: var(--legend-color);
      border-radius: 3px;
    }
  }
}
