@import 'style/core/additives';

.ProfitGraph {
  position: relative;

  flex-grow: 1;

  $root: &;
  $animation-duration: 1s;

  &__control-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: $mg-15;
  }

  &__legend-container {
    display: flex;
    align-items: center;
  }

  &__header {
    font-weight: 500;

    color: $blue-dark-2;
  }

  &__graph {
    &.rv-xy-plot__series--line {
      animation: dash $animation-duration ease-in forwards;
      @keyframes dash {
        to {
          stroke-dashoffset: 0;
        }
      }
    }
  }

  &__mark {
    &.rv-xy-plot__series--mark {
      animation: opacity .2s ease-in forwards;
      animation-delay: $animation-duration;

      opacity: 0;
      @keyframes opacity {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }

    & > circle {
      cursor: pointer;

      fill: #fff;
    }

    &_green {
      & > circle:hover {
        fill: $green-1 !important;
      }
    }

    &_yellow {
      & > circle:hover {
        fill: $yellow-1 !important;
      }
    }

    &_blue {
      & > circle:hover {
        fill: $primary !important;
      }
    }

    &_purple {
      & > circle:hover {
        fill: $purple-1 !important;
      }
    }

    &_turquoise {
      & > circle:hover {
        fill: $turquoise-1 !important;
      }
    }
  }

  &__gradient-area {
    animation: opacity-gradient .2s ease-in forwards;
    animation-delay: $animation-duration;
    @keyframes opacity-gradient {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }

  &__hint-black {
    font-size: 10px;
    font-weight: 500;

    position: relative;

    padding: 3px 6px;

    color: #fff;
    border-radius: 5px;
    background-color: $blue-dark-2;
    box-shadow: 0 2px 10px rgba(50, 52, 72, .4);

    &.rv-hint--horizontalAlign-right {
      transform: translate(-50%, -8px);
    }

    &.rv-hint--horizontalAlign-left {
      transform: translate(50%, -8px);
    }

    &::after {
      position: absolute;
      bottom: -2px;
      left: 50%;

      width: 8px;
      height: 8px;

      content: '';
      transform: translateX(-50%) rotate(45deg);

      border-width: 4px;
      border-style: solid;
      border-top-color: transparent;
      border-right-color: $blue-dark-2;
      border-bottom-color: $blue-dark-2;
      border-left-color: transparent;
      border-radius: 2px;
      box-shadow: 0 2px 10px rgba(50, 52, 72, .4);
    }
  }

  &__hint-black-content {
    position: relative;
    z-index: 1;
  }

  &__hint-blurred {
    font-size: 10px;
    font-weight: 500;

    padding: 10px;

    color: $black-1;
    border-radius: 5px;
    background: rgba(255, 255, 255, .8);
    box-shadow: 0 10px 50px -10px rgba(0, 0, 0, .4);

    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
  }

  &__hint-blurred-content {
    display: flex;
  }

  &__hint-blurred-column {
    display: flex;
    flex-flow: column;

    &:first-child {
      margin-right: $mg-15;

      & > * {
        display: flex;
        align-items: center;

        &::before {
          position: relative;
          top: -1;

          display: inline-block;

          width: 4px;
          height: 4px;
          margin-right: $mg-5;

          content: '';

          border-radius: 1px;
        }
      }
    }
  }

  &__hint-item-value {
    &:not(:last-child) {
      margin-bottom: $mg-5;
    }

    &_yellow::before {
      background-color: $yellow-1;
    }

    &_blue::before {
      background-color: $primary;
    }

    &_purple::before {
      background-color: $purple-1;
    }

    &_turquoise::before {
      background-color: $turquoise-1;
    }
  }

  &__empty-container {
    position: absolute;
    top: 0;

    pointer-events: none;
  }
}
