@import 'style/core/additives';

.BalanceProgressView {

  $root: &;

  display: flex;

  &_row {
    flex-flow: row wrap;
    flex-basis: 200px;
    flex-grow: 1;

    & > * {
      @include media-breakpoint-up(sm) {
        flex-basis: inherit;
        &:nth-child(1), &:nth-child(2) {
          margin-bottom: $mg-20;
        }
        &:nth-child(odd) {
          margin-right: $mg-40;
        }
      }

      @include media-breakpoint-down(sm) {
        flex-basis: 100%;
        margin: 0;
        margin-bottom: $mg-15;
      }
    }

    &#{$root}_lg {
      @include media-breakpoint-up(sm) {
        flex-basis: 340px;

        & > * {
          &:nth-child(1), &:nth-child(2) {
            margin-bottom: $mg-40;
          }
          &:nth-child(odd) {
            margin-right: $mg-80;
          }
        }
      }

      & .DataProgressBar {
        height: 30px;
      }
    }
  }

  &_column {
    flex-flow: column;
    align-self: stretch;

    & > * {
      width: 240px;
      @include margin-in-vertical-list($mg-10);
    }
  }

}
