@import 'style/core/additives';

.ButtonLending {

  display: flex;
  justify-content: center;
  align-items: center;

  color: $white;
  transition: all .25s ease;

  &_primary {
    font-size: 18px;

    border: none;
    border-radius: 10px;
    background: $orange-1;

    &:hover {
      color: lighten($white, 7%);
      background: darken($orange-1, 7%);
    }

    &:disabled {
      background: #FFECDC;
      color: rgba(#FF8D23, .5);
    }
  }

  &_secondary {
    font-size: 18px;

    color: $gray;
    border: 2px solid $orange-1;
    border-radius: 10px;
    background: $orange-3;

    &:hover {
      color: darken($gray, 30%);
      background: lighten($orange-3, 30%);
    }
  }
}