@import 'style/core/additives';

@mixin default-collapse-padding {
  padding: 20px;
}

.Header {
  position: relative;

  $root: &;

  &__trading-script {
    position: absolute;
    z-index: 100;
    right: 0;
    left: 0;
    pointer-events: none;
  }


  &__dropdown {
    position: relative;
    height: 100%;

    &:hover {
      #{$root}__collapse {
        @include default-collapse-padding;
        height: auto;
      }
    }

    &:hover {
      #{$root}__collapse {
        box-shadow: inset 0 4px 10px -4px rgba(255, 141, 35, 0.25);

        &_green {
          box-shadow: inset 0 7px 7px -7px rgba(111, 207, 151, 0.3);
        }
      }
    }
  }

  &__collapse {
    position: absolute;
    white-space: nowrap;

    left: -20px;

    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 10px;
    overflow: hidden;

    height: 0;
    bottom: 0;
    transform: translateY(100%);

    border-radius: 0 0 10px 10px;
    background: white;

    &:hover {
      @include default-collapse-padding;
    }
  }

  &__language {
    display: flex;
    align-items: center;

    p {
      font-size: 16px;
    }
  }
}
