@import 'style/core/additives';

.Sidebar {
  position: fixed;
  display: block !important;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: rgba(2, 2, 2, .3);
  box-shadow: 0 4px 4px rgba(0, 0, 0, .25);

  $root: &;

  &__close-button {
    position: absolute;
    top: 33px;
    left: 73%;

    box-sizing: border-box;
    width: 42px;
    height: 42px;

    border: 1px solid $blue-5;
    border-radius: 15px;
    background: #fff;
    box-shadow: 0 2px 25px #ebecff;

    &:before {
      font-size: 22px;
      line-height: 19px;

      position: absolute;
      top: 50%;
      left: 50%;

      content: '\2716';
      transform: translate(-50%, -50%);

      color: $blue-dark-2;
    }
  }

  &__nav {
    display: grid;

    width: 80%;
    height: 100%;
    padding: 25px 20px;

    border-radius: 0 20px 20px 0;
    background: #f4f5ff;
    box-shadow: 0 20px 60px rgba(0, 0, 0, .25);

    grid-template-rows: minmax(40px, auto) 1fr auto;
    grid-row-gap: 70px;
  }

  &__logo-container {
    justify-self: center;
  }

  &__list {
    width: 100%;

    #{$root}__navItem {
      font-size: 15px;
      font-weight: 300;

      opacity: .6;

      margin-bottom: 7px;
    }
  }

  &__navItem_active {
    font-weight: 500;

    opacity: 1 !important;
    color: $orange-1;
  }

  &__subNav {
    padding-top: 7px;
    padding-left: 15px;

    opacity: 1 !important;

    & > li:not(:last-child) {
      margin-bottom: 7px;
    }
  }

  &__subitem_active:before {
    position: absolute;
    bottom: -2px;
    left: -15px;

    width: 120%;

    content: '';

    border-bottom: 2px solid $orange-1;
  }

  &__footer {
    width: 100%;
  }

  &__products {
    display: flex;
    justify-content: space-between;

    margin-bottom: 15px;

    a > img {
      height: 25px;

      filter: invert(64%) sepia(513%) saturate(2598%) hue-rotate(343deg) brightness(104%) contrast(98%);
    }
  }

  &__medias {
    display: flex;
    justify-content: space-around;

    a > img {
      filter: invert(64%) sepia(65%) saturate(2598%) hue-rotate(343deg) brightness(104%) contrast(102%);
    }
  }

  &__logo{
    width: 100%;
    margin-bottom: 10px;
  }

  &_profitway {
    #{$root}__navItem_active {
      font-weight: 500;

      opacity: 1 !important;
      color: $green-profitway;
    }

    #{$root}__subitem_active:before {
      position: absolute;
      bottom: -2px;
      left: -15px;

      width: 120%;

      content: '';

      border-bottom: 2px solid $green-profitway;
    }

    #{$root}__products {
      a > img {
        height: 25px;

        filter: invert(50%) sepia(64%) saturate(6010%) hue-rotate(128deg) brightness(100%) contrast(91%);
      }
    }

    #{$root}__medias {
      a > img {
        filter: invert(50%) sepia(64%) saturate(6010%) hue-rotate(128deg) brightness(100%) contrast(91%);
      }
    }
  }

  &__auth-wrapper{
    display: flex;
    gap: 25px;
    margin-bottom: 30px;
  }

}
