@import 'style/core/additives';

.ButtonView {

  $root: &;

  transition-property: opacity, background, color, background-color, border-color;
  transition-duration: .1s;
  transition-timing-function: ease-in;

  path {
    transition: fill .1s ease-in;
  }

  &_button {
    font-weight: 500;
  }

  &_link{
    &#{$root}_button {
      color: inherit;
      &:hover {
        color: inherit;
        text-decoration: none;
      }
    }

    &#{$root}_is-button {
      &:hover {
        color: inherit;
        text-decoration: none;
      }
    }

  }
  &_outline{
    &:hover{
      color: inherit;
      text-decoration: none;
      #{$root}__label{
        background-color: $blue-5;
      }
    }

    #{$root}__label{
      height: 40px;
      width: 100%;

      font-size: 14px;
      font-weight: 400;
      border-radius: 15px;
      border: 1px solid $blue-4;
      transition: background-color .2s ease-in;
    }
  }
  &_disabled{
    background-color: $black-6 !important;
    border: 1px solid $black-5 !important;
    color: $black-4 !important;
    #{$root}__icon{
      background-color: $black-4;
    }
    &:hover {
      opacity: 1;
      cursor: not-allowed;
    }
  }

  &__label{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__icon {
    @include icon-container;
    &_is-left {
      margin-right: $mg-5;
    }
    &_is-right {
      margin-left: $mg-10;
    }

    transition: background-color .1s ease-in;
    path {
      fill: #fff;
    }
  }

  &_is-failed {
    &, &:hover {
      border-color: $danger;
      box-shadow: 0 0 1rem rgba($danger, .2);
    }
  }

  &_button, &_button#{$root}_link{

    &#{$root}_size {

      &_lg {
        height: 60px;
        border-radius: 20px;
        font-size: 14px;
      }

      &_md {
        height: 50px;
        border-radius: 15px;
        font-size: 14px;
      }

      &_sm {
        height: 30px;
        border-radius: 10px;
        font-size: 12px;
      }
    }

    &#{$root}_color {

      &_primary {
        color: #fff;
        background-color: $primary;

        &:hover {
          background-color: $blue-hover;
          opacity: 1;
        }
      }

      &_secondary {
        color: $primary;
        background-color: #fff;
        border: 1px solid $primary;

        &:hover {
          color: #fff;
          background-color: $primary;
          opacity: 1;
        }
      }

      &_secondary-dark {
        color: $blue-dark-1;
        background-color: #fff;
        border: 1px solid $blue-dark-1;

        &:hover {
          color: #fff;
          background-color: $blue-dark-1;
          opacity: 1;
        }
      }

      &_outline,  {
        color: $blue-dark-1;
        border: 1px solid $blue-5;
        background-color: $blue-6;

        &:hover {
          color: #fff;
          background-color: $primary;
          border-color: $primary;
          opacity: 1;
        }
      }

      &_danger {
        color: #fff;
        background-color: $danger;

        &:hover {
          background-color: $red-hover;
          opacity: 1;
        }
      }

      &_success {
        color: #fff;
        background-color: $turquoise-1;

        &:hover {
          background-color: $green-0;
          opacity: 1;
        }
      }

      &_gradient {
        color: #fff;
        background: $gradient-blue-1;

        &:hover {
          background: $gradient-blue-1;
          opacity: .8;
        }
      }

      &_dark {
        color: #fff;
        background-color: $black-1;

        &:hover {
          background-color: $black-landing;
        }
      }

      &_homeway {
        color: #fff;
        background-color: $orange-1;

        &:hover {
          background-color: #ef7708;
        }
      }

      &_communal {
        color: #fff;
        background-color: $blue-2;

        &:hover {
          background-color: $blue-1;
        }
      }
    }
  }

  &_is-block {
    display: block;
    width: 100%;
  }

  // Badge view

  &__badge {
    padding: 2px 5px;
    margin-left: 3px;
    align-self: flex-start;

    border-radius: 5px;
    background: linear-gradient(340.42deg, #6A09E7 -41.92%, #4B5DFF 92.41%);

    color: #fff;
    font-size: 9px;
    font-weight: 700;
  }

}
