.PasswordFieldView {

  &__container{
   @include input-container;
  }

  &__input {
    @include  input;
  }

  &__icon-eye {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-right: 10px;

    opacity: .5;
    transition: opacity .1s ease-in;
    &:hover {
      opacity: 1;
    }

    & > span{
      display: flex;
      align-items: center;
    }
  }

}
