@import 'style/core/additives';

.RadioListFieldView {

  $root: &;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  //Styles for RadioListFieldView

  &__list-item {
    display: flex;
    align-items: center;
    @include margin-in-horizontal-list($mg-20);
    padding: 15px 0;
  }

  //Styles for RadioListButtonView

  &__list-button {
    display: flex;
    align-items: center;
    @include margin-in-horizontal-list($mg-10);
    padding: 10px;

    border: 1px solid $black-5;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 500;

    cursor: pointer;
    & > * {
      cursor: pointer;
    }

    #{$root}__input {
      margin-right: $mg-10;
    }

    transition-property: background-color, border-color, color;
    transition-duration: .1s;
    transition-timing-function: ease-in;

    &:hover,&:active,&_checked  {
      color: #fff;

      #{$root}__input {
        border-color: #fff;
      }
      #{$root}__input:checked::before {
        background-color: #fff;
      }
    }
    &:hover,&_checked {
      background-color: $primary;
      border-color: $primary;
    }
    &:active {
      background-color: $blue-dark-2;
      border-color: $blue-dark-2;
    }

    &_disabled{
      background-color: $black-6;
      border-color: $black-6;
      color: $black-1-opacity-6;

      #{$root}__input:before {
        border-color: $black-5;
      }
      
      pointer-events: none;
      cursor: not-allowed;
    }
    &_disabled#{$root}_checked {
      #{$root}__input:before {
        border-color: $black-5;
      }
    }
  }

  &__input {
    @include checkbox-blue;
    cursor: pointer;

    &[type="radio"] {
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
    }

    &:checked {
      &::before {
        background-color: $primary;
      }
    }
  }

}
