@import 'style/core/additives';

.ProfitBlock {

  $root: &;

  &__title {
    @include card-subtitle;
  }

  &__body {
    display: flex;
    justify-content: flex-start;
    padding: 10px;

    background-color: $blue-6;
    border: 1px solid $blue-5;
    border-radius: 10px;
  }

  &__item {
    @include inline-items-divider($mg-20, 10px, 20px, $blue-5);
    display: flex;
    flex-flow: column;
    white-space: nowrap;

    & > * {
      &:not(:last-child) {
        margin-bottom: $mg-5;
      }
    }
  }

  &__item:not(:first-child) {
    margin-left: 16px;
}

  &__label {
    color: $blue-dark-2-opacity-4;
  }

  &__value {
    display: flex;

    font-weight: 500;
    line-height: 20px;
    min-height: 14px;
  }

  &.profitway {
    & #{$root}__body {
      justify-content: space-evenly;
    }
  }

  &__value-growth {
    margin-left: 5px;

    @include value-growth;
  }
}