@import 'style/core/additives';

.Avatar {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  max-width: 200px;

  border-width: 1px;
  border-style: solid;
  border-color: transparent;

  object-fit: cover;
  object-position: center;

  &_large {
    width: $avatar-large;
    height: $avatar-large;
    border-width: 2px;
    border-radius: 25px;
  }
  &_semi {
    width: $avatar-semi;
    height: $avatar-semi;
    border-radius: 20px;
  }
  &_default {
    width: $avatar-default;
    height: $avatar-default;
    border-radius: 15px;
  }
  &_small{
    width: $avatar-small;
    height: $avatar-small;
    border-radius: 10px;
  }

  &_default-border {
    border-color: #fff;
    border-width: 2px;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.15);
  }
}
