// Margins and paddings generator
$spaceamounts: (0, 2, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110);
$sides: (
        "": "all",
        "t": "top",
        "b": "bottom",
        "l": "left",
        "r": "right",
);

@each $space in $spaceamounts {
  @each $prefix, $value in $sides {
    $property: if($prefix == '', '', -#{$value});
    .m#{$prefix}-#{$space} {
      margin#{$property}: #{$space}px !important;
    }
    .p#{$prefix}-#{$space} {
      padding#{$property}: #{$space}px;
    }
  }
}

.mt-auto {
  margin-top: auto;
}

// Sizing

.w-auto {
  width: auto;
}

.d-inline-block {
  display: inline-block;
}

.width-200 {
  width: 200px;
}

// Text-decorators

.text-primary {
  color: $primary;
}

.text-blue-dark-1 {
  color: $blue-dark-1;
}

.text-blue-dark-2 {
  color: $blue-dark-2;
}
.text-blue-dark-2-opacity-6 {
  color: $blue-dark-2-opacity-6;
}

.text-black-1 {
  color: $black-1;
}

.text-black-1-opacity-4 {
  color: $black-1-opacity-4;
}
.text-black-1-opacity-6 {
  color: $black-1-opacity-6;
}
.text-black-2 {
  color: $black-2;
}
.text-black-3 {
  color: $black-3;
}
.text-black-4 {
  color: $black-4;
}
.text-black-5 {
  color: $black-5;
}

.text-danger {
  color: $danger;
}

.text-normal {
  font-weight: 400;
}

.text-semibold {
  font-weight: 500;
}
.text-bold {
  font-weight: 700;
}

// Background-decorators

.bg-primary {
  background-color: $primary;
}

// Icons

.user-product-profitway {
  @include icon-user-product;
  background-color: $green-3;
  & path {
    fill: $green-1;
  }
}

.user-product-homeway{
  @include icon-user-product;
  background-color: $orange-3;
  & path {
    fill: $orange-1;
  }
}

.user-product-storeway{
  @include icon-user-product;
  background-color: $red-3;
  & path {
    fill: $red-1;
  }
}

// User Levels

.border-user-level {
  @each $level, $color in $user-level-colors {
    &-#{$level} {
      border-color: $color !important;
    }
  }
}

.color-user-level {
  @each $level, $color in $user-level-colors {
    &-#{$level} {
      color: $color !important;
    }
  }
}

.background-user-level {
  @each $level, $color in $user-level-colors {
    &-#{$level} {
      background-color: $color !important;
    }
  }
}

.fill-user-level {
  @each $level, $color in $user-level-colors {
    &-#{$level} {
      path {
        fill: $color !important;
      }
    }
  }
}

@import 'story-helpers';
