// Adaptive

@mixin media-breakpoint-tablet {
  @media (max-width: 1185px) {
    @content
  }
}

@mixin media-breakpoint-up-mobile {
  @media (min-width: 768px) {
    @content
  }
}

@mixin media-breakpoint-mobile {
  @media (max-width: 767px) {
    @content
  }
}

@mixin media-breakpoint-mobile-sm {
  @media (max-width: 500px) {
    @content
  }
}

// Layout

@mixin card {
  display: flex;
  flex-flow: column;

  border: 1px solid $blue-5;
  border-radius: 20px;
  box-shadow: 0 20px 30px -20px rgba($blue-2, .1);
}

@mixin card-big {
  border-radius: 40px;
  box-shadow: 0 14px 130px -10px rgba($primary, .1);
}

@mixin card-layout {
  border: 1px solid $blue-5;
  border-radius: 20px;
  box-shadow: $shadow-blue-2;
}

@mixin card-academy {
  border: 1px solid $blue-5;
  border-radius: 20px;
  box-shadow: $shadow-2;
}

@mixin component-video-centered {
  width: $video-default-width;
  margin-right: auto;
  margin-left: auto;
}

@mixin content-video-centered {
  width: $video-default-width;
  margin: 0 auto;

  @include media-breakpoint-up(sm) {
    & > * {
      width: $content-centered-width;
    }
  }
}

@mixin blue-box {
  padding: 10px;

  color: $blue-dark-1;
  border-radius: 10px;
  background-color: $blue-7;
}

// Inline

@mixin card-subtitle {
  font-weight: 500;

  margin-bottom: $mg-10;

  color: $blue-dark-2;
}

@mixin inline-items-divider($mg-left, $pd-left, $divider-height, $divider-color) {
  &:not(:first-child) {
    position: relative;

    margin-left: $mg-left;
    padding-left: $pd-left;

    @include media-breakpoint-down(sm) {
      margin-left: 5px
    }

    &::before {
      position: absolute;
      top: 50%;
      left: 0;

      width: 1px;
      height: $divider-height;
      margin-top: -($divider-height / 2);

      content: '';

      background-color: $divider-color;
    }
  }
}

@mixin inline-square-divider {
  &:after {
    display: block;

    width: 2px;
    height: 2px;
    margin: 0 $mg-5;

    content: '';

    background-color: $blue-dark-2-opacity-6;
  }
}

@mixin checkbox-blue {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 16px;
  height: 16px;
  margin-right: $mg-5;

  transition: border-color .1s ease-in;

  border: 1px solid $black-5;
  border-radius: 6px;
  &::before {
    display: inline-block;

    width: 8px;
    height: 8px;

    content: '';
    transition: background-color .1s ease-in;

    border-radius: 3px;
    background-color: transparent;
  }
}

@mixin content-divider($position: before) {
  &::#{$position} {
    display: block;

    width: 100%;
    height: 1px;
    margin-bottom: $mg-15;

    content: '';

    background-color: $blue-4;
  }
}

// Text elements

@mixin section-header($color: $blue-dark-1) {
  font-size: 18px;
  font-weight: 700;

  margin-bottom: $mg-15;

  color: $color;
}

@mixin auth-header {
  font-size: 20px;
  font-weight: 700;

  margin-bottom: $mg-30;

  color: $blue-dark-1;
}

@mixin text-black-outlined {
  padding: 2px 3px;

  color: #fff;
  border-radius: 4px;
  background: $blue-dark-2;
}

// Buttons

@mixin academy-button {
  font-size: 12px;

  width: 360px;
}

@mixin button-light-blue {
  font-weight: 500;

  padding: 8px 6px;

  color: $blue-dark-1;
  border: 1px solid $blue-5;
  border-radius: 10px;
  background-color: $blue-6;
}

@mixin button-light-blue-for-link {
  height: 30px;
  padding: 6px 10px;

  border: 1px solid $blue-5;
  border-radius: 10px;
  background-color: $blue-6;
  .ButtonView__label {
    font-size: 12px;

    color: $blue-dark-1;

    .IconView {
      width: auto;
      height: auto;

      @include default-icon-container;
    }

    path {
      fill: $blue-dark-1;
    }
  }
}

// Background

@mixin svg-background-bottom($height, $border-radius) {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  overflow: hidden;
  align-items: flex-end;

  height: $height;

  border-radius: 0 0 $border-radius $border-radius;
}

// Form elements

@mixin input-container {
  font-size: 14px;

  display: flex;
  align-items: stretch;
  flex-flow: row nowrap;

  transition: border-color .2s ease-in, box-shadow .2s ease-in;

  border: 1px solid $black-5;
  border-radius: 10px;
  &:focus-within {
    border-color: $primary;
    box-shadow: 0 0 0 .2rem rgba($primary, .25);
  }

  &_is-invalid {
    border-color: $danger;

    &:focus-within {
      border-color: $danger;
      box-shadow: 0 0 0 .2rem rgba($danger, .25);
    }
  }
  &_disabled {
    cursor: not-allowed;

    color: rgba(0, 0, 0, .25);
    background-color: $black-5;

    input {
      cursor: inherit;
    }
  }
}

@mixin input {
  width: 100%;
  padding: $pd-input-y $pd-input-x;
  &::placeholder {
    color: rgba($black-1, .3);
  }
}

@mixin dropdown-item {
  padding: 6px 12px;

  cursor: pointer;
  transition: background-color .2s ease;

  background-color: transparent;
  &:first-child {
    border-radius: 10px 10px 0 0;
  }
  &:last-child {
    border-radius: 0 0 10px 10px;
  }

  &_hover {
    background-color: rgba($primary, .5);
  }

  &_select {
    color: #fff;
    background-color: $primary;
  }
}

// Icon

@mixin default-icon-container($svg-size: auto) {
  display: flex;
  align-items: center;
  justify-content: center;
  &.IconView {
    svg {
      width: $svg-size;
      height: auto;
    }
  }
}

@mixin icon-container {
  flex-shrink: 0;

  width: 24px;
  height: 24px;

  border-radius: 8px;
  background-color: rgba(#fff, .2);

  @include default-icon-container();
}

@mixin icon-user-product {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;

  cursor: pointer;

  border-radius: 10px;
  &:not(:last-child) {
    margin-right: $mg-5;
  }
}

@mixin icon-service-card {
  width: 50px;
  height: 50px;
  margin-right: $mg-10;

  border-radius: 15px;

  @include default-icon-container;
}

@mixin icon-file-field {
  width: 40px;
  min-width: 40px;
  height: 40px;
  margin-right: $mg-10;

  border-radius: 15px;
  background-color: $blue-5;

  @include default-icon-container;
}

@mixin icon-level-card {
  width: 40px;
  height: 40px;

  border-radius: 15px;
  background-color: #fff;
  box-shadow: $shadow-level-icon;

  @include default-icon-container;
}

@mixin canceled-icon {
  display: inline-block;

  height: 16px;
  margin-left: 10px;

  cursor: pointer;
  vertical-align: text-top;

  svg {
    width: 16px !important;
    height: 16px !important;
  }

  circle {
    fill: transparent;
    stroke: $blue-1;
  }

  rect {
    fill: $blue-1;
  }

  circle,
  rect {
    transition: all .2s ease-in;
  }

  &:hover {
    circle {
      fill: transparent;
      stroke: red;
    }

    rect {
      fill: red;
    }
  }
}

// Properties

@mixin is-interactive {
  cursor: pointer;
  transition: opacity .2s ease-in;
  &:hover {
    opacity: $opacity-on-hover;
  }
}

@mixin not-interactive {
  cursor: default;
  &:hover {
    opacity: 1;
  }
}

@mixin deactivate-link-behavior($clr: $black-1) {
  &:hover {
    text-decoration: none;

    color: $clr;
  }
}

@mixin button-hover-color($color: $blue-dark-1) {
  transition: background-color .1s ease-in;
  &:hover {
    opacity: 1;
    background-color: $color;
  }
}

@mixin margin-in-vertical-list($mg) {
  &:not(:last-child) {
    margin-bottom: $mg;
  }
}

@mixin margin-in-horizontal-list($mg) {
  &:not(:last-child) {
    margin-right: $mg;
  }
}

@mixin section-margin {
  margin-top: $mg-30;
  margin-bottom: $mg-60;
}

@mixin flexible-column {
  display: flex;
  flex-flow: column;
}

// Academy

@mixin lesson-number {
  display: inline-block;

  margin-bottom: $mg-10;
  padding: 2px 5px;

  color: $primary;
  border: 1px solid $primary;
  border-radius: 5px;
}

// Banners

@mixin banner-item($color: $black-1, $fw: 400, $pad: 40px, ) {
  font-weight: $fw;

  height: 260px;
  padding: $pad;

  color: $color;
  border-radius: 20px;

  @include media-breakpoint-down(sm) {
    height: 150px;
  }
}

@mixin banner-body {
  display: flex;
  align-items: flex-start;
  flex-flow: column;

  height: 180px;
}

@mixin banner-button {
  width: 200px;
  height: 50px;
  margin-top: auto;

  border-radius: 15px;
  background-color: $primary;

  @include button-hover-color;
}

// Profile Page

@mixin profile-header {
  @include section-header($primary);
}

@mixin profile-margin-bottom {
  margin-bottom: $mg-30;
}

@mixin profile-button {
  font-size: 12px;

  height: 30px;
  margin-bottom: 0;
  padding: 10px;

  border-radius: 10px;
}

// Other

@mixin value-growth {
  display: flex;
  align-items: center;
  &::before {
    display: inline-block;

    width: 0;
    height: 0;
    margin-right: $mg-5;

    content: '';

    border-style: solid;
    border-color: transparent transparent transparent transparent;
  }

  &_positive {
    color: $green-0;

    &::before {
      border-width: 0 3px 4px 3px;
      border-bottom-color: $green-0;
    }
  }
  &_negative {
    color: $red-1;

    &::before {
      border-width: 4px 3px 0 3px;
      border-top-color: $red-1;
    }
  }
}

@mixin article-styles {
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0;

    @include section-header;
  }

  p,
  ul,
  ol {
    font-size: 16px;
    line-height: 1.2;

    @include margin-in-vertical-list($mg-20);
  }

  ul {
    & > li {
      display: flex;

      @include margin-in-vertical-list($mg-10);

      &::before {
        margin-right: $mg-15;

        content: '\2022';
      }
    }
  }

  ol {
    counter-reset: item;

    & > li {
      display: flex;

      @include margin-in-vertical-list($mg-10);

      &::before {
        margin-right: $mg-15;

        content: counter(item) '.';
        counter-increment: item;
      }
    }
  }

  a {
    color: $primary;
  }


  table {
    width: 100%;

    border-spacing: 0;

    border: 1px solid $black-1-opacity-3;
  }

  td {
    font-size: 16px;
    line-height: 1.2;

    padding: 7px;

    vertical-align: top;

    color: #212529;
    border: 1px solid $black-1-opacity-3;
  }
}

@mixin grid-child-positioning ($children-amount) {
  @for $i from 2 through $children-amount {
    & > :nth-child(#{$i}) {
      grid-row: $i + $i - 1;
    }
  }
}
