//.story-page {
//  padding: 20px;
//
//  h2 {
//    margin-bottom: $mg-15;
//  }
//
//  h6 {
//    margin-bottom: $mg-10;
//    color: $blue-dark-1-opacity-6;
//    font-size: 16px;
//    font-weight: 400;
//    text-align: center;
//  }
//}
//
//.story-header {
//  margin-bottom: $mg-45;
//  font-size: 14px;
//
//  h1 {
//    margin-bottom: $mg-5;
//    font-size: 24px;
//  }
//}
//
//.story-section {
//  margin-bottom: $mg-40;
//}

.story-text-prop {
  color: $primary;
  font-weight: 500;
}