@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

// Custom colors

$light-blue-1: #48d9ff;

$blue-1: #4c5eff;
$blue-2: #8591ff;
$blue-3: #c6c8ff;
$blue-4: #ebecff;
$blue-5: #f1f2fc;
$blue-6: #fbfbff;
$blue-7: #f4f5ff;
$blue-hover: #2939c6;

$empty-blue: #e9eafd;
$empty-blue-light: #f1f2fc;

$gradient-blue-1: linear-gradient(340.42deg, #6A09E7 -41.92%, #4B5DFF 92.41%);

$blue-dark-1: #3c3f7b;
$blue-dark-2: #323448;
$blue-dark-3: #353749;

$blue-dark-1-opacity-6: rgba($blue-dark-1, .6);
$blue-dark-1-opacity-4: rgba($blue-dark-1, .4);

$blue-dark-2-opacity-8: rgba($blue-dark-2, .8);
$blue-dark-2-opacity-6: rgba($blue-dark-2, .6);
$blue-dark-2-opacity-4: rgba($blue-dark-2, .4);
$blue-dark-2-opacity-3: rgba($blue-dark-2, .3);

$purple-1: #742aee;

$light-purple: #f8e9ff;

$green-0: #14a96a;
$green-1: #11d982;
$green-3: #e5fef2;
$green-4: #e7fff3;

$green-profitway: #0b9b2f;

$gradient-green-1: linear-gradient(0deg, $green-1, $green-1);
$gradient-green-2: linear-gradient(147.36deg, #11DA85 10.68%, #19a66b 87.19%);

$turquoise-1: #28bd96;

$red-1: #f64241;
$red-2: #ffe6e6;
$red-3: #fef1f1;
$red-hover: #c41918;

$gradient-red-1: linear-gradient(0deg, $red-1, $red-1);

$orange-1: #ff8d23;
$orange-2: #fffcf9;
$orange-3: #ffecdc;

$gradient-orange-1: linear-gradient(148deg, #FF8D23 10.68%, #FF4D00 87.19%);
$gradient-orange-2: linear-gradient(151.74deg, $orange-1 17.48%, $orange-1 138.34%), ;

$yellow-1: #ffd912;

$black-1: #3e3e3e;
$black-2: #818181;
$black-3: #a3a3a3;
$black-4: #cfcfcf;
$black-5: #e3e3e3;
$black-6: #f7f7f7;
$black-7: #252849;
$black-landing: #222222;

$black-1-opacity-6: rgba($black-1, .6);
$black-1-opacity-4: rgba($black-1, .4);
$black-1-opacity-3: rgba($black-1, .3);
$black-1-opacity-1: rgba($black-1, .1);

$gray: #333333;
$gray-2: #4F4F4F;

$white-opacity-4: rgba(#fff, .4);

$primary: $blue-1;
$success: $green-1;
$danger: $red-1;

$layout-color: #ffffff;

$sidebar-background: #f4f5ff;
$table-background: #F0F0F0;

// User Levels

$user-level-colors: (
  1: #6d9cff,
  2: #5b72ff,
  3: #5270f7,
  4: #3999cb,
  5: #14d68a,
  6: #4ae666,
  7: #91f239,
  8: #fde403,
  9: #fece14,
  10: #ffb220,
  11: #ff9c35,
  12: #ff8b1e,
  13: #ff7b00,
  14: #f94c3f,
  15: #e34776,
  16: #c949ab,
  17: #8d4ff6,
  18: #6730f6,
  19: #4e55f5,
  20: #302c83,
);

// Gw User Tariffs

/*
  to get specific color use:
  nth(map-get($user-tariff-colors, #color-name}), #color-id-in-list)

  @example: nth(map-get($user-tariff-colors, premium), 1) -> get #14d58a
*/

$user-tariff-colors: (
  successful_start: (#ef3226, #ffebea),
  progress: (#6877ff, #e7eaff),
  business: (#7431fd, #f5f0ff),
  premium: (#14d58a, #e6ffe4),
  franchise: (#f8523a, #ffeddc),
  shareholder: (#ef09fe, #feedff),
);

// Shadows

$shadow-text-card: 0 2px 1px rgba(0, 0, 0, 0.35);

$shadow-1: 0 14px 40px rgba(0, 0, 0, 0.08);
$shadow-2: 0 5px 40px -5px rgba(44, 60, 224, 0.1);
$shadow-3: 0 20px 60px rgba(0, 0, 0, 0.25);

$shadow-black-3: 0 2px 20px rgba(0, 0, 0, 0.15);

$shadow-blue-1: 0 20px 40px $blue-4;
$shadow-blue-2: 0 20px 30px -20px rgba($primary, 0.1);
$shadow-blue-3: 0 5px 20px rgba($primary, 0.1);
$shadow-blue-4: 0 2px 8px rgba(75, 93, 255, 0.2);

$shadow-level-icon: 0 10px 25px -5px rgba(0, 0, 0, 0.15);
$shadow-illustration-blue: 0 4px 11px rgba(93, 96, 176, 0.4);
$shadow-tariff: 0 8px 30px rgba(104, 119, 255, 0.4);

// Margins

$mg-90: 90px;
$mg-80: 80px;
$mg-60: 60px;
$mg-45: 45px;
$mg-40: 40px;
$mg-35: 35px;
$mg-30: 30px;
$mg-20: 20px;
$mg-15: 15px;
$mg-10: 10px;
$mg-5: 5px;

// Padding

$pd-input-x: 10px;
$pd-input-y: 12px;
$pd-mobile-sm-banner: 20px 110px 45px 20px;
$pd-sm-banner: 20px 20px 45px 20px;

// Font Size

$title-mobile: 16px;
$subtitle-mobile: 10px;
$description-mobile: 7px;

// Opacity

$opacity-on-hover: .7;

// Transition

$transition-time-default: .2s;

// Layout

$header-height: 60px;
$sidebar-width: 255px;

$content-centered-width: 420px;
$video-default-width: 655px;
$academy-test-width: 745px;

// Auth-Pages

$logo-width: 250px;
$logo-mb: 40px;

// Page 'Levels'

$level-slider-height: 365px;
$level-slider-card-height: 310px;

// Avatar

$avatar-large: 70px;
$avatar-semi: 50px;
$avatar-default: 40px;
$avatar-small: 30px;
