@import 'style/core/additives';

.NotificationsItemView {

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $mg-20;
  padding: 20px;

  max-height: 150px;
  overflow: hidden;

  color: #fff;
  font-size: 14px;
  font-weight: 500;

  border-radius: 20px;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  box-shadow: 0 15px 40px rgba(76, 94, 255, 0.4);

  transition: transform .4s ease-in,
  opacity .6s ease-in-out,
  max-height .4s ease-in-out .6s,
  margin .4s ease-in-out .4s,
  padding .4s ease-in-out .6s;

  &_success {
    background-color: rgba($turquoise-1, 0.6);
    box-shadow: 0 15px 40px rgba($turquoise-1, 0.4);
  }

  &_danger {
    background-color: rgba($red-1, 0.6);
    box-shadow: 0 15px 40px rgba($red-1, 0.4);
  }

  &_info {
    background-color: rgba($primary, 0.6);
    box-shadow: 0 15px 40px rgba($primary, 0.4);
  }

  &__content-container {
    display: flex;
    grid-gap: 10px;
  }

  &__close-icon {
    margin-left: $mg-10;
    @include is-interactive;
  }

  &__message {
    line-height: 140%;
  }



  // Styles for React-Transition-Groups
  ////////////////////////////////////////

  // Opacity + Size
  &_top-right,&_bottom-right,&_top-left,&_bottom-left{
    &-enter {
      opacity: 0;
    }
    &-enter-active {
      opacity: 1;
    }
    &-exit {
      opacity: 1;
      margin: 0;
    }
    &-exit-active {
      opacity: .2;
      max-height: 0;
      padding: 0;
    }
  }

  // Transform-Translate
  &_top-right,&_bottom-right{
     &-enter {
       transform: translateX(450px);
     }
     &-enter-active {
       transform: translateX(0px);
     }
     &-exit-active {
       transform: translateX(450px);
     }
   }

  &_top-left,&_bottom-left{
    &-enter {
      transform: translateX(-450px);
    }
    &-enter-active {
      transform: translateX(0px);
    }
    &-exit-active {
      transform: translateX(-450px);
    }
  }
}
