@import 'style/core/additives';

.PaginationButtonView {
  display: flex;

  &__page {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;
    margin-top: 15px;
    margin-right: 2px;

    transition: all .1s ease-in-out;

    cursor: pointer;
    border: 1px solid $blue-5;
    border-radius: 10px;

    &_hidden {
      border: none;
    }

    & > * {
      font-size: 14px;
    }

    &:hover {
      background: $primary;
      color: #fff;
      path {
        fill: #fff;
      }
    }

    &.active {
      background: $primary;
      color: #fff;
    }

    &_disabled {
      pointer-events: none;
      cursor: not-allowed;
      opacity: .4;
    }
  }

  &__link-icon {
    @include default-icon-container;
  }
}
