@import 'style/core/additives';

.FileFieldItemView {

  height: 60px;
  padding: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px dashed $blue-3;
  border-radius: 15px;

  &_error {
    border-color: $danger;
  }

  &_error &_title {
    color: $danger;
  }

  &__body {
    display: flex;
    align-items: center;
  }

  &__remove {
    margin-left: $mg-10;
    cursor: pointer;
    color: $black-1-opacity-4;
    transition: color .1s ease-in;

    &:hover {
      color: $black-1;
    }
  }

  &__preview {
    @include icon-file-field;
    overflow: hidden;

    border: 1px solid $blue-5;
    background-color: #fff;

    img {
      width: auto;
      height: 100%;
    }
  }

}