@import 'style/core/additives';

.FileFieldView {

  &__button {
    .ButtonView_button {
      color: $black-1;
      border: 1px dashed $blue-3;
      border-radius: 15px;

      &:hover {
        color: $black-1;
        background-color: #fff;
        opacity: .7;

        .ButtonView__label {
          background-color: unset;
        }
      }
    }

    .ButtonView__label {
      width: auto;
      padding: 0 10px;
      justify-content: flex-start;
      border: unset;
    }
  }

  &__button-icon {
    @include icon-file-field;
  }

  &__button-label-container {
    display: flex;
    flex-flow: column;
    font-size: 12px;
  }

  &__button-label {
    display: inline-block;
    margin-bottom: $mg-5;
    text-align: left;
  }

  &__button-sublabel {
    color: $black-3;
  }

}