@import 'style/core/additives';

.ProfitRadial {

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &__graph-container {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $blue-6;
    border: 1px solid $blue-5;
    box-shadow: $shadow-blue-2;
    border-radius: 50%;

    @include media-breakpoint-down(sm) {
      touch-action: pan-y;
    }
  }

  &__total-value {
    position: absolute;
    margin: auto;

    color: $blue-dark-2;
    font-size: 15px;
    font-weight: 700;

    &_empty {
      color: $blue-dark-2-opacity-6;
      font-size: 12px;
      font-weight: 400;
    }
  }

  &__hint {
    position: absolute;
    width: 45px;
    height: 45px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: $blue-dark-2;
    font-weight: 500;
    background-color: #fff;
    box-shadow: 0 15px 20px -2px rgba(0, 0, 0, 0.4);
    border-radius: 60px;

    transform: translate(-50%, -50%);
  }

  &__legends-container {
    display: flex;
    flex-flow: column;

    & > * {
      @include margin-in-vertical-list($mg-15);
    }
    .LegendItem__color-block {
      border: unset;
    }
  }

}
