@import 'style/core/additives';

.TextFieldView {

  height: 120px;
  min-height: 100px;
  width: 100%;
  max-width: 100%;
  min-width: 30px;
  padding: 10px 30px 10px 10px;

  border: 1px solid #E3E3E3;
  box-sizing: border-box;
  border-radius: 10px;

  color: $black-1;
  font-size: 14px;
  line-height: 28px;

  &::placeholder {
    color: rgba($black-1, .3);
  }

  &:active, &:focus {
    border-color: $primary;
  }

  &_is-invalid {
    border-color: $red-2;
  }
  &_is-invalid:focus, &_is-invalid:active {
    border-color: $danger;
  }

  transition: border-color .1s ease-in;

}
