@import 'style/core/additives';

.Empty {

  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  color: $blue-dark-2;
  text-align: center;

  &__icon {
    @include default-icon-container;
    margin-bottom: $mg-10;
  }

}
