@import 'style/core/additives';

$slider-height: 500px;

.ImagesGallery {

  $root: &;

  position: relative;
  height: 100%;
  margin-bottom: 15px;

  &__slider {
    height: 100%;

    .slick-slide {
      position: relative;
    }

    /* --- Default Mode --- */

    &_default {
      max-width: 680px;
      min-height: 250px;

      #{$root}__image-container {
        cursor: pointer;
      }

      .slick-slide {
        height: $slider-height;
      }

      .slick-dots {
        position: relative;
        margin-top: 30px;
      }

      @include media-breakpoint-down(sm) {
        margin: 0 -25px 30px -25px;

        background: #e0e0ea;
        border-top: 1px solid rgba(0,0,0,.12);
        border-bottom: 1px solid rgba(0,0,0,.12);

        .slick-slide {
          height: 400px;
        }

        #{$root}__image-background {
          display: none;
        }

        &.ImagesGallery__slider_empty {
          display: none;
        }
      }
    }

    /* --- One image inside gallery --- */

    #{$root}__image-container {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex !important;
      justify-content: center;
      align-items: center;
    }

    #{$root}__image-background {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: no-repeat center;
      background-size: cover;
      filter: blur(13px);
      opacity: .4;
    }

    #{$root}__image {
      position: relative;
      max-height: 100%;
      max-width: 100%;
    }

    /* --- Navigation arrows --- */

    .slick-arrow {
      @include media-breakpoint-down(sm) {
        display: none !important;
      }

      z-index: 2;
      height: $slider-height;
      width: 50px;
      top: 0;

      transform: none;
      transition: all .2s ease-in;
      opacity: 0;

      &:hover {
        opacity: 1;
        background-color: rgba(49,49,49,.5);
      }
    }

    .slick-prev #{$root}__arrow-icon {
      left: 10px;
    }
    .slick-next #{$root}__arrow-icon {
      right: 10px;
      transform: rotate(.5turn);
    }

    &:hover .slick-arrow {
      opacity: 1;

      &.slick-prev #{$root}__arrow-icon {
        left: 17px;
      }

      &.slick-next #{$root}__arrow-icon {
        right: 17px;
      }
    }

    // Reset default styles

    .slick-prev {
      left: 0;

      &::before {
        display: none;
      }
    }
    .slick-next {
      right: 0;

      &::before {
        display: none;
      }
    }

    #{$root}__arrow-icon {
      position: absolute;
      width: 13px;
      height: 19px;
      top: 50%;
      transition: all .2s;

      &_next {
        transform: translateX(-7px) rotate(.5turn);
      }
    }

    /* --- Pagination with img previews --- */

    .slick-dots {
      bottom: 0;
      display: flex !important;
      flex-flow: row wrap;

      li {
        width: 75px;
        height: 45px;
        margin: 0 10px 10px 0;

        &.slick-active {
          outline: 2px solid #4c5eff !important;
        }
      }

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    /* --- Fullscreen Mode --- */

    &_fullscreen {
      width: calc(100% - 350px);
      height: 100%;
      background-color: #fff;

      .slick-dots {
        width: 180px;
        top: 80px;
        right: 2px;

        padding: 2px;

        align-content: flex-start;
        transform: translateX(350px);

        max-height: 100%;
        overflow: auto;

        li:nth-child(2n) {
          margin-right: 0;
        }

        // Custom scrollbar

        scrollbar-color: #4c5eff #fff;
        scrollbar-width: thin;

        &::-webkit-scrollbar {
          width: 5px;
          height: 5px;
          background-color: rgba(0,0,0,0.3);
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 20px;
          background: #4c5eff;
        }
      }

      // Get full height for all slider containers

      .slick-list {
        height: 100%;
      }
      .slick-track {
        height: 100%;
      }
      .slick-slide {
        height: 100%;
      }
      .slick-arrow {
        height: 100%;
      }

      @include media-breakpoint-down(sm) {
        width: 100%;
        background-color: transparent;
      }
    }

    /* --- Empty State --- */

    &_empty {
      background: #f5f5f5;
      border: 1px solid rgba(0,0,0,.12);
    }
  }

  /* --- Video in Slider --- */

  &__video-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
  }

  &__video-play-thumbnail {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.6);

    &::before {
      content: '';
      position: absolute;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-left: 14px solid #fff;
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
    }

    &_full-height::before {
      border-top: 50px solid transparent;
      border-bottom: 50px solid transparent;
      border-left: 80px solid #fff;
    }
  }

  /* --- Counter for slides --- */

  &__slides-counter {
    position: absolute;
    z-index: 1;
    min-width: 40px;
    padding: 3px 5px;

    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);

    border-radius: 5px;
    background-color: rgba(#000, .4);

    color: #fff;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
  }
}
