.AutoCompleteFieldView {

  $root: &;

  @include  input-container;
  position: relative;

  &__input {
    @include input;
  }

  &_disabled{
    background-color: $black-6;
    border: 1px solid $black-5;

    #{$root}__input {
      color: $black-1-opacity-6;
    }
  }

  &__selected-items {
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: $pd-input-y $pd-input-x;

    border: 1px solid $black-5;
    border-radius: 10px;
    transition: border-color .2s ease-in, box-shadow .2s ease-in;

    &_is-invalid {
      border-color: $danger;
    }
  }

  &__drop-down {
    position: absolute;
    z-index: 1000;
    width: 100%;
    top: calc(100% + 3px);
    left: 0;

    background-color: #fff;
    background-clip: padding-box;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
  }

  &__drop-down-list {
    max-height: 273px;
    overflow: auto;
  }


  &__drop-down-item {
    @include  dropdown-item;
  }
}
