@import 'style/core/additives';

.BalanceProgressBarItem {

  //&:not(:last-child) {
  //  margin-bottom: $mg-20;
  //}

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: $mg-5;

    font-size: 14px;
  }

  &__label {
    display: flex;
  }

  &__value {
    min-width: 31px;
    font-weight: 500;
    white-space: pre;
  }

  &__icon-container {
    margin-left: 10px;

    @include default-icon-container(100%)
  }

  &.profitway {
    width: 50%;

    padding-right: 80px;

    & .DataProgressBar {
      height: 30px;
    }
  }


}
