@import 'style/core/additives';

.DataSelectionPanel {

  &__switch {
    display: flex;

    border: 1px solid $blue-5;
    border-radius: 10px;
    background-color: $blue-6;

    $root: &;

    &__item {
      padding: 8px 10px;

      color: $black-1-opacity-6;

      @include is-interactive;

      &:first-child {
        margin: -1px 0 -1px -1px;
      }

      &:last-child {
        margin: -1px -1px -1px 0;
      }

      &:not(:first-child):not(:last-child) {
        margin-top: -1px;
        margin-bottom: -1px;

        border-right: 1px solid transparent;
        border-left: 1px solid transparent;
        border-radius: 10px;
      }

      &_border-left {
        &:not(:first-child):not(:last-child) {
          border-left-color: $blue-5;
        }
      }

      &_border-right {
        &:not(:first-child):not(:last-child) {
          border-right-color: $blue-5;
        }
      }

      &_active {
        color: #fff;
        border-radius: 10px;
        background-color: $blue-dark-2;
        box-shadow: 0 2px 10px rgba(0, 0, 0, .25);

        @include not-interactive;
      }
    }
  }

  &.profitway {
    position: absolute;
    top: -40%;
    right: 0;
  }

  &__interval {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    &_hidden {
      display: none;
    }

    &_input {
      margin-left: 4px;
      border-bottom: 1px solid #ddd;
    }
  }
}
